

<!DOCTYPE html>
<html lang="en">
<head>
  <script src="java.js"></script>
  <script src="index.js"></script>
    <style>
div{font-size: 40px;
    color: black;
    font-weight: bold;
   

}
h1{
    color: black;
    font-size: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
  transition-duration: 0.4s;
padding: 15px;
  row-gap: 50px;
  font-size: 50px;
  color: white;
    background-color: black;
    border-radius: 40px;
    
}

.btn:hover{
  background-color: white;
  color: black;
}
a{
    font-size: 50px;
    
    text-decoration: none;
    border: 2px solid black;
    border-radius: 2px;
    width: 70px;

  
}
.tab{
    display: inline-block;
    margin-left: 150px;
}
#b1{
    margin-left: 350px;
}

    </style>
</head>
<body background="https://wallpaperaccess.com/full/5053507.jpg">
    <h1 align="center">QUIZ</h1>
<div>
    Once upon a time, in the mystical city of New York, a renowned surgeon named
Dr. Stephen Strange was on a quest for knowledge after he suffered a debilitating
injury.
 Discovering mystical arts to control his trembling hands, he came across the
Ancient One, who saw the sorcerer supreme in him, but among many other
potential candidates, Dr. Stephen Strange must stand supreme.
Thus, The Ancient One interrogates him on his capability of unleashing his powers
and overcoming his failures, and wants a platform to conduct a quest, where she
can ask her skirmish questions, and choose the sorcerer supreme of the
Kamar-Taj.
</div>
<p align-center">
    <a type="button" class="btn" id="b1" onclick=f1() href="generator.html" >Create Room </a><span class="tab"></span>
     <a type="button" class="btn" id="b2" href="join.html">Join Room </a>
</p>


</body>
</html>