<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<style>
   body{
    background-image: url("https://wallpapers.com/images/high/baahubali-prabhas-hd-battle-scene-hxopdqkgvq7chv4q.webp");
  
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 700px;
   
   }
    
    
    form{
    
    text-align: center;
    
    border-radius: 30px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.767);
    width: 500px;
     position: relative;
  justify-content: center;
margin: 70px 500px;
height: 200px;

    
}
.sub{
    background-color:rgb(223, 155, 52);
    cursor: pointer;
}
input{
    font-size: 1rem;
    width: 300px;
    padding: 6px 2px; 
    margin: 10px 0 10px 0;
}
h1{
    text-align: center;
    font-size: 100px;
    margin-left: 60px;
}
a{
    font-size: 30px;
    color: aliceblue;
    
}
</style>
<body>
     <a href="/">Go back to login page</a>
<h1>SIGN  UP</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

      

</body>
</html>
